@{
    ViewBag.Title = "MarketTallyWD";
}

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes " />

<script src="../../Scripts/jquery-2.1.4.min.js"></script>
<link href="../../Scripts/Bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<script src="../../Scripts/Bootstrap/bootstrap.min.js"></script>
<script src="../../Scripts/Bootstrap/bootstrap-table.min.js"></script>
<link href="../../Scripts/Bootstrap/css/bootstrap-table.min.css" rel="stylesheet" />
<link href="../../Scripts/Bootstrap/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<script src="../../Scripts/Bootstrap/bootstrap-datetimepicker.min.js"></script>
<script src="../../Scripts/Bootstrap/bootstrap-datetimepicker.zh-TW.js"></script>

    <title></title>
</head>

<div class="container">
    <h1 >提示：請輸入出貨單號!</h1>
    <br />
    <h3>工作代號： <span class="label label-info">@ViewBag.number</span></h3>
    @*<h3>產品條碼： <span class="label label-info">@ViewBag.upc</span></h3>*@

    <div>
        <h3 >訂單號：&nbsp&nbsp&nbsp <span class="label label-danger" id="ord_id"></span></h3>
        <h3 >收件人：&nbsp&nbsp&nbsp <span class="label label-danger" id="cust_name"></span></h3>
        <h3 id="note_order_label" hidden="hidden">備註：&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  <span class="label label-info" id="note_order"></span></h3>
        <h3 >品名：&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  <span class="label label-info " id="productname"></span></h3>
        
        <h3 class="hidden">料位： <span class="label label-info " id="hidden_loc_id"/></h3>
        <h3 class="hidden">細項編號： <span class="label label-info " id="hidden_item_id">@ViewBag.itemid</span></h3>
        <h3 class="hidden">出貨單號： <span class="label label-info " id="hidden_deliver_code"/></h3>
        <h3 class="hidden">訂單數量： <span class="label label-info " id="hidden_ord_qty"/></h3>
        <h3 class="hidden">訂單詳情編號： <span class="label label-info " id="hidden_ordd_id"/></h3>
        <h3 class="hidden">aseld表的流水號： <span class="label label-info " id="hidden_seld_id"/></h3>
       
        
        <!-- 出貨單號 -->
        <div class="row">
            <div class="col-lg-5">
                <h3 >實際撿貨量統計： <span class="label label-warning " id="act_pick_qty">&nbsp&nbsp</span></h3>
                <!-- /input-group -->
            </div>
            
            <div class="col-lg-2">
                <h3 >訂單數量： <span class="label label-info " id="ord_qty"></span></h3>
                <!-- /input-group -->
            </div>
            <div class="col-lg-3 text-right">
                <h3 >需要揀貨數量： <span class="label label-info " id="out_qty"></span></h3>
                <!-- /input-group -->
            </div>
            <div class="col-lg-2  text-right">
                    <button class="btn btn-default btn-lg" disabled="disabled"  id="amsure" type="button">確認分貨</button>
                <!-- /input-group -->@*data-loading-text="提交中..."*@
            </div>
            <!-- /.col-lg-8 -->
        </div>
        <!-- /.row -->
        @*data-toggle="table" data-url="/MarketTally/GetStockByItemid?item_id=@ViewBag.itemid"  *@
        <br />
        <table class="table table-bordered table-striped table-hover" id="stock_table" >
            <thead class="lead">
                <tr>
                    <th data-field="row_id" data-halign="center" data-align="center" data-valign="middle"  data-visible="false">row_id
                    </th>
                    <th data-field="item_id" data-halign="center" data-align="center" data-valign="middle"  data-visible="false">item_id
                    </th>
                    <th data-field="sel_loc" data-halign="center" data-align="center" data-valign="middle"  data-visible="false">sel_loc
                    </th>
                    <th data-field="made_date" class="col-md-3" data-halign="center" data-align="center" data-valign="middle" data-formatter="made_dateFormatter" data-events="MadeDateEvents">製造日期 
                    </th>
                    <th data-field="cde_dt" class="col-md-3" data-halign="center" data-align="center" data-valign="middle" data-formatter="cde_dateFormatter" data-events="CdeDateEvents">有效日期
                    </th>
                    
                    <th data-field="prod_qty" class="col-md-3" data-halign="center" data-align="center" data-valign="middle" >庫存數量
                    </th>
                    <th data-field="vendor_id" data-halign="center" data-align="center" data-valign="middle"  data-visible="false">vendor_id
                    </th>
                    <th data-field="cde_dt_shp" data-halign="center" data-align="center"  data-valign="middle" data-visible="false">cde_dt_shp
                    </th>
                    <th data-field="pick_num" class="col-md-3" data-halign="center" data-align="center" data-valign="middle"  data-formatter="nameFormatter"  data-events="operateEvents">撿貨數量

                    </th>
                </tr>
            </thead>
            @*        <tbody>
        </tbody>*@
        </table>
       
        <br />
                <!-- 出貨單號 -->
        <div class="row">
            <div class="col-lg-8">
                <div class="input-group " id="delivercode_group">
                    <span class="input-group-btn">
                        <button class="btn btn-default btn-lg " type="button">出貨單號</button>
                    </span>
                    <input type="text" class="form-control input-lg" id="delivercode" placeholder="請輸入出貨單號...">

                    <span class="glyphicon " id="inputGroupStatus_delivercode" aria-hidden="true"></span>
                </div>
                <!-- /input-group -->
            </div>
            <!-- /.col-lg-8 -->
        </div>
        <!-- /.row -->

        
    </div>
</div>

<div class="modal fade MarketTally-modal-alert" role="dialog" aria-labelledby="gridSystemModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" >提示</h3>
      </div>
      <div class="modal-body">
        <div class="container-fluid">         
          <h4 id="MessageContentId" class="text-center">錯誤提示</h4>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" id="modal-dialog-close" data-dismiss="modal">確定</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade MarketTally-modal-confirm" role="dialog" aria-labelledby="gridSystemModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        @*<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>*@
        <h3 class="modal-title" >提示</h3>
      </div>
      <div class="modal-body">
        <div class="container-fluid">         
          <h4 id="ConfirmContentId" class="text-center">錯誤提示</h4>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="modal-dialog-yes" data-dismiss="modal">是</button>
        <button type="button" class="btn btn-default" id="modal-dialog-no" data-dismiss="modal" >否</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade MarketTally-modal-warn" role="dialog" aria-labelledby="gridSystemModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        @*<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>*@
        <h3 class="modal-title" >警告</h3>
      </div>
      <div class="modal-body">
        <div class="container-fluid">         
          <h4 id="WarnContentId" class="text-center">錯誤提示</h4>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="modal-warn-yes" data-dismiss="modal">是</button>
        <button type="button" class="btn btn-default" id="modal-warn-no" data-dismiss="modal" >否</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
    var index2;
    var result2;
    function nameFormatter(value, row, index)
    {
        return '<input type="number"  min="0" class="form-control" id="pick_num' + index + '"  onkeydown="return check(event);">';
        //return '<input name="username" type="text" onkeyup="value=value.replace(/\D+/g,'')">'; 
        //return '<input type="number"  min="0" class="form-control" id="pick_num' + index + '"  placeholder="0"  onkeyup="value" >';
    }
    function made_dateFormatter(value, row, index)
    {
        var date = '<div class="input-group date form_date col-md-12" id="made_date' + index + '" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd"><input class="form-control"  type="text" value="' + value + '" readonly="readonly" id="made_date_label' + index + '"><span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span></div>'
        return date;
    }
    function cde_dateFormatter(value, row, index)
    {
        var date = '<div class="input-group date form_date col-md-12" id="cde_date' + index + '" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd"><input class="form-control" type="text" value="' + value + '" readonly="readonly" id="cde_date_label' + index + '"><span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span></div>'
        return date;
    }
    function check(e)
    {
        var keynum
        var keychar
        var numcheck

        if (window.event) // IE
        {
            keynum = e.keyCode
        }
        else if (e.which) // Netscape/Firefox/Opera
        {
            keynum = e.which
        }

        keychar = String.fromCharCode(keynum)
        //numcheck = /\D/
        //console.log(keychar+":"+keynum)
        if ((keynum == 46) || (keynum == 8) || (keynum == 37) || (keynum == 39))
        {
            return true;
        }
        
        if (((keynum >= 48 && keynum <= 57) || (keynum >= 96 && keynum <= 105)))
        {
            return true;
        }
        return false

        
    }
    window.MadeDateEvents = {
        'click .glyphicon-calendar': function (e, value, row, index)
        {
            var old_date, date; //made_date   

            $('#made_date' + index).datetimepicker({
                language: 'zh-TW',
                weekStart: 1,
                todayBtn: 1,
                autoclose: 1,
                todayHighlight: 1,
                startView: 2,
                minView: 2,
                pickerPosition:'top-right',
                forceParse: 0
            }).on('changeDate', function(ev){
                {
                    row_id = row.row_id;
                    prod_id = '@ViewBag.itemid';
                    type_id = 1;
                    cde_dtormade_dt = $('#made_date_label' + index).val(); 
                    y_cde_dtormade_dt = row.made_date;
                    prod_qtys = row.prod_qty;
                    sloc_id = $('#hidden_loc_id').text();
                    MadeDateChange(row_id, prod_id, type_id, cde_dtormade_dt, y_cde_dtormade_dt, prod_qtys, sloc_id);
                }
            });
        }
    }

    window.CdeDateEvents = {
        'click .glyphicon-calendar': function (e, value, row, index)
        {
            $('#cde_date' + index).datetimepicker({
                language: 'zh-TW',
                weekStart: 1,
                todayBtn: 1,
                autoclose: 1,
                todayHighlight: 1,
                startView: 2,
                minView: 2,
                pickerPosition: 'top-right',
                forceParse: 0
            }).on('changeDate', function (ev)
            {
                {
                    row_id = row.row_id;
                    prod_id = '@ViewBag.itemid';
                    type_id = 2;
                    cde_dtormade_dt = $('#cde_date_label' + index).val();
                    y_cde_dtormade_dt = row.made_date;
                    prod_qtys = row.prod_qty;
                    sloc_id = $('#hidden_loc_id').text();
                    MadeDateChange(row_id, prod_id, type_id, cde_dtormade_dt, y_cde_dtormade_dt, prod_qtys, sloc_id);
                }
            });
        }
    }
    function MadeDateChange(row_id, prod_id, type_id, cde_dtormade_dt, y_cde_dtormade_dt, prod_qtys, sloc_id)
    {
        //alert(row_id + ":" + prod_id + ":" + type_id + ":" + cde_dtormade_dt + ":" + y_cde_dtormade_dt + ":" + prod_qtys + ":" + sloc_id)
        $.get('/MarketTally/selectproductexttime', { item_id: prod_id }, function (data)
        {
            var result = eval("(" + data + ")");
            if (result.success)
            {
                datetimeday = result.msg; 
                $.get('/MarketTally/aboutmadetime', { row_id: row_id, prod_id: prod_id, type_id: type_id, cde_dtormade_dt: cde_dtormade_dt, y_cde_dtormade_dt: y_cde_dtormade_dt, prod_qtys: prod_qtys, sloc_id: sloc_id, datetimeday: datetimeday }, function (data)
                {
                    
                    var result = eval("(" + data + ")");
                    if (result.success)
                    {
                        var message="";
                        if (result.msg == 1)
                        {
                            message = " 製造日期不能大於當前時間!";
                        }
                        else if (result.msg == 3)
                        {
                            message = " 修改失敗!";
                        }
                        if (message != "")
                        {
                            $('#MessageContentId').text(message);
                            $('.MarketTally-modal-alert').modal('toggle')
                            $('.MarketTally-modal-alert').on('shown.bs.modal', function (event)
                            {
                                $('#modal-dialog-close').focus();
                            })
                        }
                        $('#stock_table').bootstrapTable('refresh');
                        $('#act_pick_qty').text('  ');
                        $('#act_pick_qty').attr("class", "label label-warning");
                        $('#amsure').attr("class", "btn btn-default btn-lg");
                        $('#amsure').attr("disabled", "disabled");
                    }

                })
            }
        })
    }
    window.operateEvents = {
        'input .form-control': function (e, value, row, index)
        {
            
            var result = eval("(" + JSON.stringify($('#stock_table').bootstrapTable('getData')) + ")");
            index2 = index;
            result2 = result;
            var count = sum(result.length); 
            if (count == -1)
            {
                $('#act_pick_qty').attr("class", "label label-warning"); 
                $('#MessageContentId').text("必須輸入撿貨數量!");
                $('.MarketTally-modal-alert').modal('toggle')
                $('.MarketTally-modal-alert').on('shown.bs.modal', function (event)
                {
                    $('#modal-dialog-close').focus();
                })
                $('.MarketTally-modal-alert').on('hidden.bs.modal', function (event)
                {
                    $('#pick_num' + index).focus();
                })

                $('#amsure').attr("class", "btn btn-default btn-lg");
                $('#amsure').attr("disabled", "disabled");

                return false;
            }
            else if (count > parseInt($('#out_qty').text()))
            {
                $('#act_pick_qty').attr("class", "label label-warning");
                $('#MessageContentId').text("實際撿貨量不能大於訂單數量!");
                $('.MarketTally-modal-alert').modal('toggle')
                $('.MarketTally-modal-alert').on('shown.bs.modal', function (event)
                {
                    $('#modal-dialog-close').focus();
                })
                $('.MarketTally-modal-alert').on('hidden.bs.modal', function (event)
                {
                    $('#pick_num' + index).focus();
                })

                $('#amsure').attr("class", "btn btn-default btn-lg");
                $('#amsure').attr("disabled", "disabled");
                
                return false;
            }
            else
            {
                $('#act_pick_qty').attr("class", "label label-success");
                //if ($("#delivercode").val().trim() == $("#hidden_deliver_code").text().trim())
                {
                    $('#amsure').attr("class", "btn btn-success btn-lg");
                    $('#amsure').removeAttr("disabled");
                }
            }
            if (parseInt(result[index].prod_qty) < parseInt($('#pick_num' + index).val()))
            {
                //alert('pick_num')

                if ($('#hidden_loc_id').text() == "YY999999")
                {
                    $('#MessageContentId').text("該商品沒有主料位,不能庫調!");
                    $('.MarketTally-modal-alert').modal('toggle')
                    $('.MarketTally-modal-alert').on('shown.bs.modal', function (event)
                    {
                        $('#modal-dialog-close').focus();
                    })
                    $('.MarketTally-modal-alert').on('hidden.bs.modal', function (event)
                    {
                        $('#stock_table').bootstrapTable('refresh');
                        $('#act_pick_qty').text('  ');
                        $('#act_pick_qty').attr("class", "label label-warning");
                        $('#amsure').attr("class", "btn btn-default btn-lg");
                        $('#amsure').attr("disabled", "disabled");
                        $('#pick_num' + index).focus();
                    })

                }
                else
                {
                    var pnum = parseInt($('#pick_num' + index).val());
                    $('#ConfirmContentId').text("該商品庫存不夠，確認直接進行商品數量庫調？");
                    $('.MarketTally-modal-confirm').modal({
                        backdrop: 'static'
                    })
                    $('.MarketTally-modal-confirm').on('shown.bs.modal', function (event)
                    {
                        $('#modal-dialog-no').focus();

                    })
                    $('.MarketTally-modal-confirm').on('hidden.bs.modal', function (event)
                    {

                    })
                }

            }
            else
            {
                var message = "";
                if ($('#pick_num' + index).val() != "" && $('#pick_num' + index).val() != "0")
                {   //請遵守先進先出原則！
                    for (var i = 0; i < index; i++)
                    {
                        var pick_num = 0;
                        if ($('#pick_num' + i).val() != "")
                        {
                            pick_num = parseInt($('#pick_num' + i).val());
                        }
                        if (parseInt(result[i].prod_qty) > pick_num)
                        {
                            message = "請遵守先進先出原則！";
                            break;
                        }

                    }
                }
                if ($('#pick_num' + index).val() != "" && $('#pick_num' + index).val() != "0")
                {   /*檢查日期是否過期開始*/
                    var dtstring = 2
                    var item_id = '@ViewBag.itemid'
                    var startTime = result[index].cde_dt
                    $.get('/MarketTally/JudgeDate', { dtstring: dtstring, item_id: item_id, startTime: startTime }, function (data)
                    {
                        var result = eval("(" + data + ")");
                        if (result.success)
                        {
                            //var message=""
                            if (result.msg == "3")
                            {
                                message += "超過允出天數!";
                            }
                            else if (result.msg == "4")
                            {
                                message += "有效期為" + result.dte + "的商品已超過有效日期!!";
                            }

                        }
                        if (message != "")
                        {
                            $('#MessageContentId').text(message);
                            $('.MarketTally-modal-alert').modal('toggle')
                            $('.MarketTally-modal-alert').on('shown.bs.modal', function (event)
                            {
                                $('#modal-dialog-close').focus();
                            })
                            $('.MarketTally-modal-alert').on('hidden.bs.modal', function (event)
                            {
                                $('#pick_num' + index).focus();
                            })
                        }

                    }).error(function ()
                    {
                        $('#MessageContentId').text("該商品日期驗證出問題！請聯繫管理員~");
                        $('.MarketTally-modal-alert').modal('toggle')
                        $('.MarketTally-modal-alert').on('shown.bs.modal', function (event)
                        {
                            $('#modal-dialog-close').focus();
                        })
                    });

                }
            }

        }
    };
    function sum(length)
    {
        var sum =0;
        var allempty = true;
        for (var i = 0; i < length; i++)
        {
            if ($('#pick_num' + i).val() != "")
            {
                sum = sum + parseInt($('#pick_num' + i).val());
                allempty = false;
            }
        }
        
        if (allempty)
        {
            sum = -1;
            $('#act_pick_qty').text('  ');
        }
        else
        {
            $('#act_pick_qty').text(sum);
        }
        return sum;
    }
    function GetNextItemid()
    {
        var itemid = '@ViewBag.itemid'
        var number = '@ViewBag.number'; 
        $.get('/MarketTally/GetAseldListByItemid', { assg_id: number, item_id: itemid }, function (data)
        {
            var result = eval("(" + data + ")");
            if (result.success)
            {
                if (result.totalCount > 0)
                {
                    document.location.href = document.location.href = "/MarketTally/MarketTallyWDProduct?number=" + number + "&itemid=" + itemid;
                }
                else
                {
                    $.get('/MarketTally/GetAseldListByItemid', { assg_id: number }, function (data)
                    {
                        var result = eval("(" + data + ")");
                        if (result.success)
                        {
                            if (result.totalCount > 0)
                            {
                                document.location.href = document.location.href = "/MarketTally/MarketTallyWD?number=" + number;
                            }
                            else
                            {
                                //alert("工作代號走完");
                                document.location.href = "/MarketTally/MarketTally";
                            }
                        }
                    })


                }
            }
        }).error(function ()
        {
            $('#MessageContentId').text("查詢失敗!");
            $('.MarketTally-modal-alert').modal('toggle')
            $('.MarketTally-modal-alert').on('shown.bs.modal', function (event)
            {
                $('#modal-dialog-close').focus();
            })
        });
        $('#stock_table').attr("data-url", "/MarketTally/GetStockByItemid?item_id=" + '@ViewBag.itemid');
        $('#stock_table').bootstrapTable();
    }
    function InitTable()
    {
        
        var table = eval("(" + JSON.stringify($('#stock_table').bootstrapTable('getData')) + ")");
        var num = 0; 
        for (var i = 0; i < table.length; i++)
        {
            if (num <= parseInt($('#out_qty').text()))
            {
                if (num + table[i].prod_qty <= parseInt($('#out_qty').text()))
                {
                    $('#pick_num' + i).val(table[i].prod_qty);
                }
                else
                {
                    $('#pick_num' + i).val(parseInt($('#out_qty').text()) - num);
                }
                num += table[i].prod_qty;
            }
            else
            {
                break;
            }
            
        }
        if (sum(table.length) >= 0);
        {
            $('#act_pick_qty').attr("class", "label label-success");
            $('#amsure').attr("class", "btn btn-success btn-lg");
            $('#amsure').removeAttr("disabled");
        }
    }
    
</script>

<script type="text/javascript">
    $(document).ready(function ()
    {      
        //頁面加載時調用
        {
            {
                $("#delivercode").focus();
            }
            var itemid = '@ViewBag.itemid'
            var number = '@ViewBag.number'
            $.get('/MarketTally/GetAseldListByItemid', { assg_id: number, item_id: itemid }, function (data)
            {
                var result = eval("(" + data + ")"); 
                if (result.success)
                {
                    if (result.totalCount > 0)
                    {
                        var prod = "";
                        if (result.data[0].prod_sz != "")
                        {
                            prod = "(" + result.data[0].prod_sz + ")";
                        }

                        $("#ord_id").text(result.data[0].ord_id); 
                        $("#cust_name").text(result.data[0].cust_name);
                        if (result.data[0].note_order.length > 0)
                        {
                            $("#note_order").text(result.data[0].note_order);
                            $("#note_order_label").show();
                        }
                        else
                        {
                            $("#note_order_label").hide();
                        }
                        $("#productname").text(result.data[0].description + prod);
                        $("#out_qty").text(result.data[0].out_qty);
                        //$("#act_pick_qty").text(result.data[0].act_pick_qty);

                        $("#hidden_loc_id").text(result.data[0].sel_loc);
                        $("#hidden_deliver_code").text(result.data[0].deliver_code);
                        $("#hidden_ord_qty").text(result.data[0].ord_qty);
                        $("#ord_qty").text(result.data[0].ord_qty);
                        $("#hidden_ordd_id").text(result.data[0].ordd_id);
                        $("#hidden_seld_id").text(result.data[0].seld_id)
                        //if ('@ViewBag.itemid' != result.data[0].item_id)
                        {
                            //document.location.href = document.location.href = "/MarketTally/MarketTallyWDProduct?number=" + number + "&itemid=" + result.data[0].item_id;
                        }

                    }
                    else
                    {
                        $('#MessageContentId').text("當前工作代號中沒有該產品條碼!");
                        $('.MarketTally-modal-alert').modal('toggle');
                        $('#modal - dialog - close').focus();
                        $('.MarketTally-modal-alert').on('hidden.bs.modal', function (e)
                        {
                            document.location.href = "/MarketTally/MarketTally";
                        })
                    }
                }
            }).error(function ()
            {
                $('#MessageContentId').text("查詢失敗!");
                $('.MarketTally-modal-alert').modal('toggle')
                $('.MarketTally-modal-alert').on('shown.bs.modal', function (event)
                {
                    $('#modal-dialog-close').focus();
                })
            });
            $('#stock_table').attr("data-url", "/MarketTally/GetStockByItemid?item_id=" + '@ViewBag.itemid');
            $('#stock_table').bootstrapTable();
            
            //分配庫存初始值
            setTimeout(function ()
            {
                InitTable();
            }, 1000);
            
        }
        $('button[data-loading-text]').click(function ()
        {
            var btn = $(this).button('loading');
            setTimeout(function ()
            {

                btn.button('reset');

            }, 3000);
        });
        $('#delivercode').on('input', function (e)
        {
            if ($("#delivercode").val() == "")
            {
                $('#delivercode_group').attr("class", "input-group "); 
                $('#inputGroupStatus_delivercode').attr("class", "glyphicon");

                return false;
            }

            else if ($("#delivercode").val().trim() == $("#hidden_deliver_code").text().trim())
            {
                $('#delivercode_group').attr("class", "input-group has-success ");
                $('#inputGroupStatus_delivercode').attr("class", "glyphicon glyphicon-ok form-control-feedback");
                //已分貨
                if ($('#amsure').text()=="已分貨")
                {
                    GetNextItemid();
                }
                //未分貨
                else
                {

                }
            }
            else
            {
                $('#delivercode_group').attr("class", "input-group has-error ");
                $('#inputGroupStatus_delivercode').attr("class", "glyphicon glyphicon-remove form-control-feedback");
            }
        })

        $('#amsure').on('click', function ()
        {
            
            if (parseInt($('#act_pick_qty').text()) > parseInt($('#out_qty').text()))
            {
                $('#MessageContentId').text("實際撿貨量不能大於訂單數量!");
                $('.MarketTally-modal-alert').modal('toggle')
                $('.MarketTally-modal-alert').on('shown.bs.modal', function (event)
                {
                    $('#modal-dialog-close').focus();
                })
                return false;
            }
            else if (parseInt($('#act_pick_qty').text()) < parseInt($('#out_qty').text()))
            {
                ///////////////
                $('#WarnContentId').text("實際撿貨量小於訂單數量!，確認進行分貨？");
                $('.MarketTally-modal-warn').modal({
                    backdrop: 'static'
                })
                $('.MarketTally-modal-warn').on('shown.bs.modal', function (event)
                {
                    $('#modal-warn-no').focus();

                })
                $('.MarketTally-modal-warn').on('hidden.bs.modal', function (event)
                {

                })
            }
            else if (parseInt($('#act_pick_qty').text()) == parseInt($('#out_qty').text()))
            {
                $('#amsure').attr("disabled", "disabled");
                MarketTally();
            }

        });
        $('#modal-warn-yes').on('click', function ()
        {
            //繼續分貨；
            MarketTally();
        })
        function MarketTally()
        {
            var arrPickRowId = new Array();
            var arrPickInfo = new Array();
            var table = eval("(" + JSON.stringify($('#stock_table').bootstrapTable('getData')) + ")");
            for (var i = 0; i < table.length; i++)
            {
                if ($('#pick_num' + i).val() != "")
                {
                    if (parseInt($('#pick_num' + i).val()) > 0)
                    {
                        arrPickRowId.push(table[i].row_id);
                        arrPickInfo.push($('#pick_num' + i).val())
                    }
                }
            }

            commodity_type = 2,//寄倉調度的編號
            seld_id = $("#hidden_seld_id").text();//aseld的流水號
            out_qty = $("#out_qty").text();//缺貨數量
            ord_qty = $("#hidden_ord_qty").text();//訂貨數量
            act_pick_qty = $("#act_pick_qty").text();//實際揀貨量
            item_id = '@ViewBag.itemid';//商品細項編號
            ordd_id = $("#hidden_ordd_id").text();
            assg_id = '@ViewBag.number';//工作代號
            ord_id = $("#ord_id").text();
            deliver_id = $("#hidden_deliver_code").text().trim();
            //pickRowId = arrPickRowId;
            //pickInfo = arrPickInfo;traditional:true
            //alert(arrPickRowId);
            //$.get('/MarketTally/GETMarkTallyWD',
            $.ajax({
                url: "/MarketTally/GETMarkTallyWD",
                type: "POST",
                dataType: "text",
                traditional: true,
                data: {
                    commodity_type: commodity_type, seld_id: seld_id, out_qty: out_qty, ord_qty: ord_qty, act_pick_qty: act_pick_qty, item_id: item_id, ordd_id: ordd_id, assg_id: assg_id, ord_id: ord_id, deliver_id: deliver_id, pickRowId: arrPickRowId, pickInfo: arrPickInfo
                },
                success: function (data)
                {
                    var result = eval("(" + data + ")");
                    if (result.success)
                    {
                        var msg = "";
                        var fa = 0;
                        if (result.qty > 0)
                        {
                            msg = "分貨成功，但該商品仍缺貨! ";
                        }
                        else if (result.ord == 0)
                        {
                            if (result.cancel == 0)
                            {
                                msg = "訂單(" + result.ord_id + ")分貨完成,可以封箱! ";
                            }
                            else
                            {
                                msg = "訂單(" + result.ord_id + ")臨時取消,請移交主管處理";
                            }
                        }
                        if (result.flag == 0)
                        {
                            //不繼續往下循環
                            msg += "工作代號(" + assg_id + ")已經走完! ";

                        }
                        if (msg == "")
                        {
                            msg = "該商品分貨完成!";
                        }
                        $('#MessageContentId').text(msg);
                        $('.MarketTally-modal-alert').modal('toggle')
                        $('.MarketTally-modal-alert').on('shown.bs.modal', function (event)
                        {
                            $('#modal-dialog-close').focus();
                        })
                        $('.MarketTally-modal-alert').on('hidden.bs.modal', function (event)
                        {
                            if ($("#delivercode").val().trim() == $("#hidden_deliver_code").text().trim())
                            {
                                GetNextItemid();
                            }
                            else
                            {
                                for (var i = 0; i < table.length; i++)
                                {
                                    $('#pick_num' + i).attr("disabled", "disabled");
                                    $('#made_date' + i).datetimepicker('remove');
                                    $('#cde_date' + i).datetimepicker('remove');
                                    $(".input-group-addon").hide();
                                }
                                $('#amsure').text("已分貨");
                                $('#amsure').attr("class", "btn btn-default btn-lg");
                                $('#amsure').attr("disabled", "disabled");
                                $("#delivercode").focus();
                            }
                        })
                    }
                    else
                    {
                        msg = "程序運行出錯,請聯繫開發人員! ";
                        $('#MessageContentId').text(msg);
                        $('.MarketTally-modal-alert').modal('toggle')
                        $('.MarketTally-modal-alert').on('shown.bs.modal', function (event)
                        {
                            $('#modal-dialog-close').focus();
                        })
                    }
                },
                error: function ()
                {
                    $('#MessageContentId').text("系統異常,請稍后再試,如有重複出錯請聯繫管理員!");
                    $('.MarketTally-modal-alert').modal('toggle')
                    $('.MarketTally-modal-alert').on('shown.bs.modal', function (event)
                    {
                        $('#modal-dialog-close').focus();
                    })
                }
            });
        }
        //
        {
            $('#modal-dialog-yes').on('click', function ()
            {
                //調整庫存；
                var item_id = '@ViewBag.itemid';
                var order_id = $("#ord_id").text();
                var loc_id = $("#hidden_loc_id").text();
                var prod_qty = result2[index2].prod_qty;
                var made_date = result2[index2].made_date;
                var pnum = parseInt($('#pick_num' + index2).val()); 
                $.get('/MarketTally/RFKT', { item_id: item_id, order_id: order_id, loc_id: loc_id, prod_qty: prod_qty, made_date: made_date, pnum: pnum }, function (data)
                {
                    var result = eval("(" + data + ")");
                    if (result.success)
                    {
                        if (result.msg == "100")
                        {
                        }
                        if (result.msg == "2")
                        {
                            $('#MessageContentId').text("今日的庫存已鎖，不能庫調");
                            $('.MarketTally-modal-alert').modal('toggle')
                            $('.MarketTally-modal-alert').on('shown.bs.modal', function (event)
                            {
                                $('#modal-dialog-close').focus();
                            })
                        }
                    }
                    else
                    {
                        $('#MessageContentId').text("系統故障,內部庫調失敗!");
                        $('.MarketTally-modal-alert').modal('toggle')
                        $('.MarketTally-modal-alert').on('shown.bs.modal', function (event)
                        {
                            $('#modal-dialog-close').focus();
                        })
                    }

                }).error(function ()
                {
                    $('#MessageContentId').text("系統故障,內部庫調失敗!");
                    $('.MarketTally-modal-alert').modal('toggle')
                    $('.MarketTally-modal-alert').on('shown.bs.modal', function (event)
                    {
                        $('#modal-dialog-close').focus();
                    })
                }).complete(function ()
                {
                    $('#stock_table').bootstrapTable('refresh');
                    $('#act_pick_qty').text('  ');
                    $('#act_pick_qty').attr("class", "label label-warning");
                    $('#amsure').attr("class", "btn btn-default btn-lg");
                    $('#amsure').attr("disabled", "disabled");
                    $('#pick_num' + index2).focus();
                })

            })
            $('#modal-dialog-no').on('click', function ()
            {
                $('#pick_num' + index2).val('');
                var count = sum(result2.length);
                if (count == -1 || count > parseInt($('#out_qty').text()))
                {
                    $('#act_pick_qty').attr("class", "label label-warning");
                    $('#amsure').attr("class", "btn btn-default btn-lg");
                    $('#amsure').attr("disabled", "disabled");
                }
                else
                {
                    $('#act_pick_qty').attr("class", "label label-success");
                    if ($("#delivercode").val().trim() == $("#hidden_deliver_code").text().trim())
                    {
                        $('#amsure').attr("class", "btn btn-success btn-lg");
                        $('#amsure').removeAttr("disabled");
                    }
                }
                $('#pick_num' + index2).focus();
            })
        }
        //
        
                
    });
</script>