@{
    ViewBag.Title = "ChannelOther";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    .tbhead
    {
        font-weight:bold
        }
    td
    {
        padding: 0.5em 0 0 0.5em;
        }
</style>
<script type="text/javascript" src="../../Locale/@Html.Raw(Request.Cookies["lang"]==null? "zh-TW":Request.Cookies["lang"].ToString())/Channel/ChannelLang.js?v=@Context.Application["Version"].ToString()"></script>
<script type="text/javascript" src="../../Scripts/Views/Channel/ChannelOther.js?v=@Context.Application["Version"].ToString()"></script>
<script type="text/javascript">
    $(document).ready(function () {
        
    });
</script>
<table>
    <tr>
        <td>
            <div id="main" style="width:100%;overflow:auto;">
                <table>
                    <tr>
                        <td class="tbhead">@Resources.ChannelOther.FIELD1：</td>
                        <td colspan = "3">
                            <div id="rdo_dealmethod">
                                <input type="radio" name="method" id= 'rdo_method1' value="1" checked="checked" /><label for="rdo_method1">@Resources.ChannelOther.FIELD2</label>
                                <input type="radio" name="method" id= 'rdo_method2' value="2" /><label for="rdo_method2">@Resources.ChannelOther.FIELD3</label>
                                <input type="radio" name="method" id= 'rdo_method3' value="3" /><label for="rdo_method3">@Resources.ChannelOther.FIELD4</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="tbhead">@Resources.ChannelOther.FIELD5：</td>
                        <td colspan="3">
                            <div id="div_dealpercent" ></div>
                            <div id="div_dealfee" ></div>
                        </td>
                    </tr>
                    <tr>
                        <td class="tbhead">@Resources.ChannelOther.FIELD6：</td>
                        <td colspan = "3">
                            <div id="div_creditcardpercent1"></div>
                        </td>
                    </tr>
                    <tr>
                        <td class="tbhead">@Resources.ChannelOther.FIELD7：</td>
                        <td colspan = "3">
                            <div id="div_creditcardpercent3"></div>
                        </td>
                    </tr>
                    <tr>
                        <td class="tbhead">@Resources.ChannelOther.FIELD8：</td>
                        <td colspan = "3">
                            <div id="div_shoppingcarpercent"></div>
                        </td>
                    </tr>
                    <tr>
                        <td class="tbhead">@Resources.ChannelOther.FIELD9：</td>
                        <td colspan = "3">
                            <div id="div_commissionpercent"></div>
                        </td>
                    </tr>
                    <tr>
                        <td class="tbhead">
                            <input type="checkbox" name="costbypercent" id="ckb_costbypercent" onclick="Check(this)"/><label for="rdo_costbypercent">@Resources.ChannelOther.FIELD10</label>
                        </td>
                        <td colspan="3">
                            <div id="div_costby"></div>
                        </td>
                    </tr>
                    <tr>
                        <td class="tbhead">@Resources.ChannelOther.FIELD11：</td>
                        <td colspan = "3">
                            <div id="div_invoicecheckoutday"></div>
                        </td>
                    </tr>
                    <tr>
                        <td class="tbhead">@Resources.ChannelOther.FIELD12：</td>
                        <td colspan="3">
                            <div id="div_invoiceapply"></div>
                        </td>
                    </tr>
                    <tr>
                        <td class="tbhead">@Resources.ChannelOther.FIELD13：</td>
                        <td colspan = "3">
                            <div id="div_checkoutnote"></div>
                        </td>
                    </tr>
                    <tr>
                        <td class="tbhead">@Resources.ChannelOther.FIELD14：</td>
                        <td  colspan = "3">
                            <div id="div_receiptto"></div>
                        </td>
                    </tr>
                    <tr>
                        <td class="tbhead">@Resources.ChannelOther.FIELD15：</td>
                        <td colspan = "3">
                            <div id="div_channelmanager"></div>
                        </td>
                    </tr>
                    <tr>
                        <td class="tbhead">@Resources.ChannelOther.FIELD16：</td>
                        <td colspan = "3">
                            <div id="div_channelnote"></div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="8" align="left">
                            <div id="btn_submit"></div>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
</table>

