@{
    ViewBag.Title = "Channel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    .tbhead
    {
        font-weight: bold;
    }

    #inT td
    {
        padding: 0.5em 0 0 0.5em;
    }
</style>
<script type="text/javascript" src="../../Locale/@Html.Raw(Request.Cookies["lang"]==null? "zh-TW":Request.Cookies["lang"].ToString())/Channel/ChannelLang.js?v=@Context.Application["Version"].ToString()"></script>
<script type="text/javascript" src="../../Scripts/Views/Channel/Channel.js?v=@Context.Application["Version"].ToString()"></script>
<table width='800px'  >
    <tr>
        <td>
            <div id="main" style="width:100%">
                <table id="inT">
                    <tr>
                        <td class="tbhead">@Resources.Channel.CHANNELSTATUS：</td>@*狀態*@
                        <td colspan = "3">
                            <div id="rdo_chstatus">
                                <input type="radio" name="chstatus" id= 'rdo_chstatus1' value="1" checked="checked" /><label for="rdo_chstatus1">@Resources.Channel.ONUSE</label>@*啟用*@
                                <input type="radio" name="chstatus" id= 'rdo_chstatus2' value="2" /><label for="rdo_chstatus2">@Resources.Channel.UNUSE</label>@*禁用*@
                            </div>
                        </td>
                        <td colspan="4"></td>
                    </tr>
                    <tr>
                        <td class="tbhead">@Resources.Channel.TYPE：</td>@*賣場類型*@
                        <td colspan = "3">
                            <div id="rdo_chType">
                                <input type="radio" name="chType" id= 'rdo_chType1' value="1" checked="checked" /><label for="rdo_chType1">@Resources.Channel.TEAMWORK</label>@*合作賣場*@
                                <input type="radio" name="chType" id= 'rdo_chType2' value="2" /><label for="rdo_chType2">Gigade</label>
                            </div>
                        </td>
                        <td colspan="4"></td>
                    </tr>
                    <tr>
                        <td class="tbhead">@Resources.Channel.FULLNAME：</td>@*賣場名稱*@
                        <td colspan = "3">
                            <div id="txt_fullname"></div>
                        </td>
                        <td colspan="4"></td>
                    </tr>
                    <tr>
                        <td class="tbhead">@Resources.Channel.SIMPLENAME：</td>@*賣場簡稱*@
                        <td colspan = "3">
                            <div id="txt_simplename"></div>
                        </td>
                        <td colspan="4"></td>
                    </tr>
                    <tr>
                        <td class="tbhead">@Resources.Channel.WHOLECODE：</td>@*公司統編*@
                        <td colspan="3">
                            <div id="txt_invoice"></div>
                        </td>
                        <td class="tbhead">@Resources.Channel.EMAIL：</td>@*公司Email*@
                        <td colspan="3">
                            <div id="txt_email"></div>
                        </td>
                    </tr>
                    <tr>
                        <td class="tbhead">@Resources.Channel.CONTRACTNUM：</td>@*公司電話*@
                        <td colspan="3">
                            <div id="txt_comphone"></div>
                        </td>
                        <td class="tbhead">@Resources.Channel.FAX：</td>@*公司傳真*@
                        <td colspan="3">
                            <div id="txt_comfax"></div>
                        </td>
                    </tr>
                    <tr>
                        <td class="tbhead">@Resources.Channel.ADDRESS：</td>@*公司地址*@
                        <td colspan="7"><div id="cob_comcity"></div> </td>
                    </tr>
                    <tr>
                        <td class="tbhead">@Resources.Channel.TITLE：</td>@*發票抬頭*@
                        <td colspan = "3">
                            <div id="txt_invoicetitle"></div>
                        </td>
                        <td colspan = "4"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td colspan = "7"><input type="checkbox" name="likecomaddress" id="ckb_likecomaddress" onclick="Check(this)"/><label for="ckb_likecomaddress">@Resources.Channel.SAMEADDRESS</label>@*發票地址同公司地址*@
                        </td>
                    </tr>
                    <tr>
                        <td class="tbhead">@Resources.Channel.BILLADDRESS：</td>@*發票地址*@
                        <td colspan="7">
                            <div id="cob_invoicecity"></div>                            
                        </td>                        
                    </tr>
                    <tr>
                        <td class="tbhead">@Resources.Channel.SIGNDATE：</td>@*合約簽訂日*@
                        <td colspan = "3">
                            <div id="txt_contractcreatedate"></div>
                        </td>
                        <td colspan = "4"></td>
                    </tr>
                    <tr>
                        <td class="tbhead">@Resources.Channel.SECTION：</td>@*合約期間*@
                        <td>
                            <div id="txt_contractstart"></div>
                        </td>
                        <td>～</td>
                        <td>
                            <div id="txt_contractend"></div>
                        </td>
                        <td colspan="4"></td>
                    </tr>
                    <tr>
                        <td class="tbhead">@Resources.Channel.COST1：</td>@*年租費*@
                        <td colspan = "3">
                            <div id="txt_annaulfee"></div>
                        </td>
                        <td class="tbhead">@Resources.Channel.COST2：</td>@*續約年租費*@
                        <td colspan = "3">
                            <div id="txt_renewfee"></div>
                        </td>
                    </tr>
                    <tr>
                        <td class="tbhead">@Resources.Channel.MAILADDRESS：</td>@*會員信箱*@
                        <td colspan = "3">
                            <div id="txt_managerEmail"></div>
                        </td>
                        <td colspan = "4"></td>
                    </tr>
                    <tr>
                        <td class="tbhead">@Resources.Channel.IMPORT：</td>@*匯入模式*@
                        <td colspan = "3">
                            <div id="div_modelIn"></div>
                        </td>
                        <td colspan = "4"></td>
                    </tr>
                    <tr>@*add by xiangwang0413w 2014/06/26 增加 ERP客戶代號*@
                        <td class="tbhead">@Resources.Channel.ERPID:</td>@*ERP客戶代號*@
                        <td colspan="3">
                            <div id="div_erpId"></div>
                        </td>
                        <td colspan="4"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td colspan = "7"><input type="checkbox" name="notifysms" id="ckb_notifysms"/><label for="ckb_notifysms">@Resources.Channel.SENDMSG</label>@*發送通知簡訊(出貨、發票開立)*@
                        </td>
                    </tr>
                    <tr>
                        <td colspan="8" align="left">
                            <div id="btn_submit"></div>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
</table>